<ion-view title="Login" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="text-center">
            <div id="logo">
              <img src="img/logo.jpg" alt="Logo Alert Aware">
            </div>
            <p class="pb-50">
                By <a class="pseudo-link" href="http://github.com/adrianlemess" target="_blank">@adrianlemess</a>
            </p>
        </div>
              <form name="signinForm" ng-submit="signIn(credentials, signinForm.$valid)">
                <div class="ion-list">
                    <label class="item item-input item-floating-label">
                        <i class="icon ion-person placeholder-icon"></i>
                        <span class="input-label">Digite o usuário</span>
                        <input ng-model="credentials.username" type="text" placeholder="Digite o usuário" autocorrect="off" autocapitalize="off">
                    </label>
                    <label class="item item-input item-floating-label">     
                        <i class="icon ion-locked placeholder-icon"></i>
                        <span class="input-label">Password</span>
                        <input ng-model="credentials.password" type="password" placeholder="Password">
                     </label>
              
                </div>
                <div class="padding ">
                    <button type="submit" class="button button-block md-raised md-primary md-button md-default-theme center">
                    Sign In
                    </button>
                    <!--<md-button type="submit" class="button button-block md-raised md-primary md-button md-default-theme">Sign In</md-button>-->
                </div>
            </form>
      
           
        
    </ion-content>
</ion-view>