/* Empty. Add your own CSS if you like */
.item-complex .item-content  {
    background: #e6fffc !important;
    background-color: #e6fffc !important;
}
.content-timeline {
       /* background: #bac3d3 */
    background: #e6fffc;
}
.container {
  font-family: tahoma, arial, verdana;
}

header:after, #timeline .timeline-item:after, header:before, #timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both; }

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
}

#timeline {
  width: 94%;
  margin: 4% 6%;
  position: relative;
  padding: 0 0px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; 
}

#timeline:before {
    content: "";
    width: 5px;
    height: 100%;
    background: #00796B;
    z-index: -1;
    left: 1.2%;
    top: 1px;
    position: absolute; }

#timeline .timeline-item:last-child::before{
content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 113.8%;
    width: 30px;
    background: #e6fffc;;
}
  #timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%; }


@media screen and (min-width: 768px) {
    #timeline .timeline-item .timeline-content {
    width: 100% !important;
}
    
}
  #timeline:after {
    content: "";
    clear: both;
    display: relative;
    max-width: 100%; 
}

/*.timeline-item:last-child::before{
    content: "";
    background: #bac3d3;
    top: 20px;
    left:0px;
    height: 125%;
    width: 4% !important;
    position: absolute;
} */


#timeline .timeline-item {
    margin-bottom: 14px;
    position: relative;
    z-index: 2;  
}

#timeline .timeline-item .timeline-icon {
    position: relative;
    float: left;
    text-align: center;
    top: 0;
    left: 1%;
    overflow: hidden;
    color: yellow;
    border-radius: 50%;
    background-color:#00796B !important;
    border: 4px solid #00796B !important;
}
#timeline .timeline-item .timeline-icon-large {
    width: 64px;
    height: 64px;
    margin-left: -28px;
}
#timeline .timeline-item .timeline-icon-medium {
    width: 52px;
    height: 52px;
    margin-left: -23px;
}
#timeline .timeline-item .timeline-icon-small {
    width: 44px;
    height: 44px;
    margin-left: -19px;
}

#timeline .timeline-item .timeline-icon-large i {
        font-size: 54px;
    display: relative;
}
#timeline .timeline-item .timeline-icon-medium i {
    font-size: 44px;
    display: relative;
}
#timeline .timeline-item .timeline-icon-small i {
    font-size: 34px;
    display: relative;
}
 
#timeline .timeline-item .timeline-content {
    max-width: 91%;
    overflow:hidden;
    float: right;
    padding: 0px 0px 0px 10px;
    border-radius: 5px;

    background:white;
    box-shadow: 6px 5px 2px rgba(13, 13, 0, 0.1);
}

#timeline .timeline-item .timeline-content .corpo{
    line-height: 1.2em;
    display:block;
    font-size:16px;
    margin: 7px 3px 15px 3px;  
}
body, html {
  height: 100%; }

p {
        margin: 0 0 3px;
}
.min-lines {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  max-height: 3.4em !important;
  margin: 7px 3px -2px 3px !important;
  line-height: 1.2em !important;
  display: -webkit-box !important;
   /*number of lines to show*/ 
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#timeline .timeline-item .timeline-content .title-card {
    padding: 5px 6px 20px 20px;
    background: #00796B;
    border-radius: 3px 3px 0 0;
    margin: 0px 0px 1px -10px;
    padding: 7px 3px 10px 11px;

}
#timeline .timeline-item .timeline-content .title-card h2{
    color: white;
    font-weight: 500;
    line-height: 1.0;
    font-size: 20px;
    padding-right:1px;
}
.timeline-stats {
    float: right;
    margin: -11px 0px 0px 0px !important;
    color: #fff;

}

    #timeline .timeline-item .timeline-content:before {
        content: '';
        position: absolute;
        left: 8.5%;
        top: 10px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 7px solid #00796B; 
}
.label {

    padding: 0.8em 0.6em 0.8em;

    font-size: 87%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: .25em;
    background-color: #3B7EEE;
    top: 0;


}
.labelNotification {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 31px;
    margin-top: 0px;
    z-index: 500;
    display: block;

}

@media screen and (max-width: 768px){
  #timeline .timeline-item .timeline-content:before {
    left: 14%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #00796B;
    }
    #timeline .timeline-item .timeline-content {
        max-width: 86%;
    }
}


/* === Color Themes === */
.text-muted {
    color: #6d6d72 !important;
}

.color-gray {
    color: #8e8e93 !important;
}

.color-red {
    color: #BD1550 !important;
}

.bg-color-red {
    background-color: #BD1550 !important;
}

.color-white {
    color: #ffffff !important;
}

.color-yellow {
    color: #ffcc00 !important;
}

.bg-color-yellow {
    background-color: #ffcc00 !important;
}

.color-green {
    color: #8A9B0F !important;
}

.color-orange {
    color: #ff9500 !important;
}

.bg-color-orange {
    background-color: #ff9500 !important;
}

.color-blue {
    color: #007aff !important;
}

.bg-color-blue {
    background-color: #007aff !important;
}

.color-lightblue {
    color: #5ac8fa !important;
}

.bg-color-lightblue {
    background-color: #5ac8fa !important;
}

.color-bluegray {
    color: #607d8b !important;
}

.bg-color-bluegray {
    background-color: #607d8b !important;
}

.color-night {
    color: #2B1B17 !important;
}

.color-black {
    color: black !important;
}

.bg-color-white {
    background-color: #ffffff;
}

.bg-color-green {
    background-color: #8A9B0F !important;
}


  .title-bar{
   position: absolute;
    top: 0;
    right: 0;
    left: 0px;
    z-index: 0;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 500;
    line-height: 44px;
    color:white;
    }
#logo img {
    width:100%;
    height: 40%;
}

.signin-header, .signup-header {
    border-top: 2px solid rgb(0,150,136);
}

.circle {
    width:500px;
    height:500px;
    border-radius:50%;
    font-size:50px;
    color:#fff;
    line-height:130px;
    text-align:center;
    background-color: rgb(0,150,136);
    padding: 30px;
}

.text-center {
    text-align: center;
}

.pb-50 {
    padding-bottom: 50px;
}
.pt-10 {
    padding-top: 10px;
}
.pseudo-link {
    color: black;
    font-size: 15px;
    text-decoration: none;
}
.profile-view .item-avatar {
    padding-left: 0px;
}
.profile-view .item-avatar > img:first-child {
    max-width: 60px;
    max-height: 60px;
    text-align: center;
    position: relative;
    left: 0;
    margin-bottom: 15px;
}
/* vertical center */
/*.scroll-content {*/
    /*display: table !important;*/
    /*width: 100% !important;*/
    /*height: 100% !important;*/
/*}*/
/*.scroll {*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*text-align: center;*/
/*}*/
a {
    color: #333;
    text-decoration: none;
    outline: 0;
}
.link-button {
    color: #333;
    border: 0;
    background: none;
    padding: 0;
}
.text-small {
    font-size: 12px;
}
.text-muted {
    color: #777;
}


/* fix ionic border input issue */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    border: 1px solid rgba(0, 0, 0, 0.117647);
    border-right-width: 0;
    border-top-width: 0;
    border-left-width: 0;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon {
    fill: rgb(0,150,136)
}

md-input-container.md-input-invalid > md-icon {
    fill: rgb(244,67,54)
}
.messages {
    margin-left: 56px;
}


.bar.bar-positive {
    background-color: rgb(0,150,136);
    border-color: #00796B;
    background-image: linear-gradient(0deg, #00796B, #00796B 50%, transparent 50%);
}

.heading-item {
    background-color: #00796B;
}
.heading-item .greeting {
    color: #fff;
    font-weight: bold;
}
.heading-item .message {
    color: #fff;
}
.item-avatar {
    padding-top: 25px;
    min-height: 80px;
}
.item-avatar > img:first-child {
    border: 1px solid #fff;
    top: 25px;
}
.sidebar .sidebar-nav {
    margin: 0;
    padding: 0;
}
.sidebar .sidebar-nav li {
    position: relative;
    list-style-type: none;
}
.sidebar-default .sidebar-nav li > a {
    background-color: transparent;
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
}
.sidebar .sidebar-nav li a {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0;
    padding-left: 16px;
    padding-right: 56px;
    text-decoration: none;
    clear: both;
    font-weight: 500;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sidebar-nav li > a i {
    color: #757575;
}
.sidebar .sidebar-icon {
    display: inline-block;
    margin-right: 16px;
    min-width: 40px;
    width: 40px;
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    color: #333;
}
.sidebar-nav .divider {
    background-color: #bdbdbd;
}
.sidebar .sidebar-divider, .sidebar .sidebar-nav .divider {
    position: relative;
    display: block;
    height: 1px;
    margin: 8px 0;
    padding: 0;
    overflow: hidden;
}

.item.activated {
    background-color: transparent;
}
.camera {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.camera i {
    font-size: 30px;
}


/* Galleries view */
.galleries-list {
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
}
.gallery {
    height: calc(50vw - 15px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #FFF;
    position: relative;
    display: block;
}
.gallery .gallery-image {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
.gallery .gallery-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(42, 42, 42, 0.3);
}
.gallery .gallery-title, .galleries-view .gallery .gallery-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(0,0,0,0.5);
    color: #fff;
}
.galleries-view .gallery .gallery-title {
    padding: 3px 5px;
}
.gallery-view .gallery .gallery-title {
    text-align: center;
}
.gallery .gallery-title i {
    font-size: 2em;
}
.gallery .gallery-title h5, .gallery .gallery-title h6 {
    color: #fff;
    margin: 0;
}

/* TODO: Remove this once issue with ngMaterial is fix */
.md-button.md-default-theme.md-primary.md-fab, .md-button.md-default-theme.md-primary {
    color: rgb(255,255,255);
    background-color: rgb(0,150,136);
    margin: 4px 0px 0px 0px;
}
md-input-container:not(.md-input-has-value) input:not(:focus) {
    color: inherit;
}
md-icon i {
    padding-left: 15px;
    font-size: 20px;
}
.messages {
    color: red;
}
md-input-container > md-icon {
    top: 10px;
}
.item-floating-label .placeholder-icon {
  padding-right: 18px !important;
  position: absolute !important;
  bottom: 9px !important;
  left: 17px !important;
}

.item-floating-label {
  padding-left: 40px !important;
}

